.resumeBackground {
	padding: 40px 0;
	width: 100%;
	background-image: url(images/resume_background.jpg);
	.resume {
		margin:0 auto;
		/*max-*/width: 638px;
		height: 825px;
		background-color: white;
	}
}