.resumeBackground {
	width: 100%;
	padding: 40px 0;
	background-image: url(images/resume_background.jpg);
	.resume {
		/*max-*/width: 638px;//set to max width once content is added
		height: 825px;
		margin:0 auto;
		background-color: white;
	}
}